.list{
  display: flex;
  flex-wrap: wrap;
  row-gap: 20px;
  justify-content: space-evenly;
  height: 300px;
}

.loader{
display: flex;
justify-content: center;
}

nav{
  background-color: rgb(131, 19, 243);
}

.card-title{
  font-size: 20px;
  font-weight: bold;
}
.card {
  flex: 0 0 18rem;
  border: 1px solid #ccc;
  transition: transform 0.3s ease;
}

.card:hover {
  transform: scale(1.05);
}

.card:last-child {
  margin-right: 0;
}



// .example-viewport {
//   height: 80vh;
//   width: 80vw;
//   border: 1px solid black;
// }

// .example-item {
//   height: 50px;
// }
